body {
  font: 12px Helvetica,Arial,sans-serif;
  line-height: 20px;
}

input {
	font-family: Helvetica,Arial,sans-serif;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}


.prescritionForm .form-control {
	margin-top: 10px;
	display: inline-block;
}


.prescritionForm .btns Button {
	margin-top: 10px;
}

.prescritionDrugs table {
	margin-top: 15px;
}

.prescritionForm label{
	margin-top: 15px;
	width: 100%;
	text-align: right;
}

.glyphicon.spinning {
	font-size: 40px;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
